<table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.first_name }} {{ element.last_name }}</td>
    </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Conference</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>
  
    <!-- College Column -->
    <ng-container matColumnDef="college">
      <th mat-header-cell *matHeaderCellDef>Division</th>
      <td mat-cell *matCellDef="let element">{{ element.college }}</td>
    </ng-container>
  
    <!-- Experience Column -->
    <ng-container matColumnDef="experience">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let element">{{ element.experience }}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  
  <mat-paginator
    [length]="20"
    [pageSizeOptions]="[10, 20, 32]"
    showFirstLastButtons
  >
  </mat-paginator>
  